<footer class="inner">
  <p>Follow us on:<br />
    <a href="https://twitter.com/gematik1">
      Twitter
    </a> | <a href="https://github.com/gematik1">GitHub</a>
  </p>
  <p>© gematik GmbH 2022<br /><a href="https://www.gematik.de/impressum" target="_blank">Imprint (DE)</a> | <a href="https://www.gematik.de/datenschutz" target="_blank">Data privacy (DE)</a> | <a href="#" id="open_preferences_center">Update cookies preferences</a></p>
  <p></p>
  <p>Published with <a href="https://pages.github.com">GitHub Pages</a></p>
</footer>
