<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

{% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
    {% include head_custom.html %}
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1><a href="{{ "/" | absolute_url }}">{{ site.title | default: site.github.repository_name }}</a></h1>

        {% if site.logo %}
          <img src="{{site.logo | relative_url}}" alt="Logo" />
        {% endif %}

        <p>{{ site.description | default: site.github.project_tagline }}</p>

        {% if site.github.is_project_page %}
        <p class="view">Visit us:
          <ul>
            <li><a href="https://gematik.github.io">Open Source Project<small>gematik.github.io</small></a></li>
            <li><a href="https://www.gematik.de">Company Website <small>gematik.de</small></a></li>
            <li><a href="https://fachportal.gematik.de">gematik Fachportal <small>fachportal.gematik.de</small></a></li>
          </ul>
        </p>
        {% endif %}

      </header>
      <section>

      {{ content }}

      </section>
      <footer>
        {% include footer.html %}
      </footer>
    </div>
    <script id="usercentrics-cmp" src="https://app.usercentrics.eu/browser-ui/latest/loader.js" data-version="preview" data-settings-id="_NKfSQXhq" async></script>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}" type="text/plain" cookie-consent="strictly-necessary"></script>
  </body>
</html>
